* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {
    --lighter: #e5e5e5;
    --primary: #1b72e8;
    --secondary: #12293f;
    --btn-color: #165bba;
}

.wrapper {
    height: 100vh;
}

.col-1 {
    background-image: url(./img/sidebar-bg.png);
    background-color: var(--secondary);
}

.col-11 {
    background-color: var(--lighter);
}

.row {
    height: calc(100vh - 76px);
    overflow-y: auto;
}

.nav_2 {
    background-color: var(--primary);
    height: 100px;
}

.card {
    background-color: white;
    margin-top: 15px;
}

ul {
    list-style: none;
}

.search {
    flex-grow: 1;


    & form {
        border: 1px solid;
        border-radius: 5px;

        & input {
            width: 90%;
        }
    }

}
.under{
    margin-top: auto;
    margin-bottom: 150px;
}
.space{
    justify-content: space-around;
}
.space:hover{
    background-color:  rgb(194, 192, 192);
}
.ghost {
    display: none;
}

@media screen and (min-width:768px) {
    .ghost {
        display: table-cell;
    }
}

.item_1 {
    display: none;
}

@media screen and (max-width:768px) {
    .item_2 {
        display: none;
    }

    .item_1 {
        display: inline-block;
    }
    .first{
        order: 2;
    }
    .second{
        order: 3;
    }
    .third{
        order:1;
    }
}

.plus {
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.bt {
    background-color: var(--btn-color);
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.done {
    background-color: green;
    border-radius: 10px;
    padding: 1px 4px;
    color: white;
}

.failed {
    background-color: red;
    border-radius: 10px;
    padding: 1px 4px;
    color: white;
}

.process {
    background-color: rgb(212, 162, 69);
    border-radius: 10px;
    padding: 1px 4px;
    color: white;
}

