* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lighter: #e5e5e5;
    --primary: #1b72e8;
    --secondary: #12293f;
    --btn-color:#165bba;
}

.wrapper {
    height: 100vh;
}


.col-1 {
    background-color: var(--secondary);
   
}

.col-11 {
    background-color: var(--lighter);
}


.row {
    height: calc(100vh - 176px);
}

.nav_2 {
    background-color: var(--primary);
    height: 100px;
}

.col-12 {
    background-color: pink;

}

.col-md-4 {
    background-color: black;

}

.card {

    background-color: white;
}

ul {
    list-style: none;
}

.search {
    flex-grow: 1;


    & form {
        border: 1px solid;
        border-radius: 5px;

        & input {
            width: 90%;
        }
    }

}



.space {
    justify-content: space-around;
}

.ghost{
    display: none;
}
@media screen and (min-width:768px){
    .ghost{
        display: table-cell;
    }
}
@media screen and (max-width:768px) {
    .item_2 {
        display: none;
    }

    .item_1 {
        display: inline-block;
    }
}

.plus{
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.bt{
    background-color: var(--btn-color);
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 8px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.done{
    background-color: green;
    border-radius: 10px;
    padding: 1px 4px;
    color: white;
}

.failed{
    background-color: red;
    border-radius: 10px;
    padding: 1px 4px;
    color: white;
}

.process{
    background-color: rgb(212, 162, 69);
    border-radius: 10px;
    padding: 1px 4px;
    color: white;
}

table{
    font-size: 12px;
}