* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lighter: #e5e5e5;
    --primary: #1b72e8;
    --secondary: #12293f;
}

.wrapper {
    height: 100vh;
}

#site_header {}

.col-1 {
    background-color: var(--secondary);

}

.col-11 {
    background-color: var(--lighter);
}


.row {
    height: 100vh;
}

nav {
    height: 100px;
    background-color: var(--primary);
}

.col-12 {
    background-color: pink;

}

.col-md-4 {
    background-color: black;

}

.card {
   
    background-color: white;
}

ul {
    list-style: none;
}

.search {
    flex-grow: 1;


   & form {
        border: 1px solid;
        border-radius: 5px;
        & input{
            width: 90%;
        }
    }

    }



.space{
    justify-content: space-around;
}


@media screen and ( max-width:768px){
    .item_2{
        display: none;
    }
}
